<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263572782286-ok0u704h2o3rfu5a3sfrjai9td97vdsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263572782286-ok0u704h2o3rfu5a3sfrjai9td97vdsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDytsY7NcE2H7AZzX9TGeJzzayYmeaBhdk</string>
	<key>GCM_SENDER_ID</key>
	<string>263572782286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BF.BrainFitChat</string>
	<key>PROJECT_ID</key>
	<string>brainfit-personal-brain-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>brainfit-personal-brain-coach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:263572782286:ios:4ddcd333f63d93b275e49f</string>
	<key>DATABASE_URL</key>
	<string>https://brainfit-personal-brain-coach.firebaseio.com</string>
</dict>
</plist>
